*~
.~*
*.pyc
*.swp
*.swo
.project
.pydevproject
.settings/
openerp-server.conf
src/plan_mejoramiento_idu/utils/fabrica_de_plantillas/file/*.xlsx
src/plan_mejoramiento_idu/utils/fabrica_de_plantillas/plan_interno/*.csv
src/plan_mejoramiento_idu/utils/plan_interno/*.csv
